body {
	font-family: Arial, Helvetica, sans-serif;
	padding: 0px 20px;
}

h1 {
	padding: 90px 0 0 0;
    overflow: hidden;
    background-image: url(../images/logo.gif); 
    background-repeat: no-repeat;
    height: 0px !important; /* for most browsers */
    height /**/:90px; /* for IE5.5's bad box model */
	width: 210px
	
}

img {
	margin: 0;
	padding: 0;
	border: none;
}

#nav {
	margin: 0;
	padding: 0;
}

#nav ul
{
	padding-left: 0;
	margin-left: 0;
	background-color: #00aeea;
	color: white;
	float: left;
	width: 100%;
}

#nav ul li { display: inline; }

#nav ul li a
{
	padding: 0.2em 1em;
	background-color: #00aeea;
	color: White;
	text-decoration: none;
	float: left;
	border-right: 1px solid #fff;
}

#nav ul li a:hover
{
	background-color: #db1c24;
	color: #fff;
}

#page {
	padding: 2em 0;
}

h2 {
	display: none;
}

table {
	border-collapse:collapse;
	width: 100%;
}

th {
	background: #333;
	color: white;
	text-align: left;
}

td, th {
	padding: 0.2em;
}

.odd {
	background: white;
	
}

.even {
	background: #e9e9e9;
}

.options {
	list-style: none;
	padding: 0.2em 1em;
}

.back { background: url(../images/arrow_left.png); }
.add_repository { background: url(../images/package_add.png); }
.remove_repository { background: url(../images/package_delete.png); }
.add_user { background: url(../images/user_add.png); }
.remove_user { background: url(../images/user_delete.png); }
.add_group { background: url(../images/group_add.png); }
.remove_group { background: url(../images/group_delete.png); }

.icon_link {
	background-repeat: no-repeat;
	background-position: center left;
	padding-left: 22px;
	text-decoration: none;
}

tr:hover {
	background-color: #00aeea;
	color: white;
}

td .icon_link {
	display: block;
	float: left;
	height: 16px;
	overflow: hidden;
	width: 0px;
}

a, a:link, a:visited {
	color: #333;
}

a:hover {
	color: #db1c24;
}

